.modalMoreInfo {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.modalMoreInfo .modalContainer {
  border-radius: var(--radius);
  height: 100%;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalMoreInfo .modalContainer h3 {
  color: var(--blue);
  font-size: 1.5em;
  transition: all 0.5s cubic-bezier(0.82, -0.12, 1, 1);
  font-weight: 700;
}

.modalMoreInfo .modalContainer .modalImg {
  /* transition: all 1s linear; */
  max-height: 300px;
  max-width: initial;
  transition: all 10s linear;
}

.modalMoreInfo .modalContainer .tagsWrapper {
  align-items: center;
  display: flex;
}

.modalMoreInfo .modalContainer .tags {
  display: flex;
}

.modalMoreInfo .modalContainer .tag {
  align-items: center;
  background-color: white;
  border-radius: var(--radius);
  display: flex;
  font-size: 0.8em;
  height: auto;
  margin: 8px;
  padding: 8px;
  text-transform: capitalize;
  width: auto;
  /* border: 1px solid red; */
}

.tag.Javascript {
  color: var(--javascript);
  border: 1px solid var(--javascript);
}

.tag.Html5 {
  color: var(--html);
  border: 1px solid var(--html);
}

.tag.Css3 {
  color: var(--css);
  border: 1px solid var(--css);
}

.tag.Reactjs {
  color: var(--react);
  border: 1px solid var(--react);
}

.modalMoreInfo .modalContainer .links {
  display: flex;
}

.modalMoreInfo .modalContainer .link {
  align-items: center;
  color: rgba(61, 84, 103);
  display: flex;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.modalMoreInfo .modalContainer .carousel {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.modalMoreInfo .modalContainer .link.unavailable {
  background-color: rgb(172, 170, 170);
  box-shadow: none;
  cursor: not-allowed;
}

.modalMoreInfo .modalContainer .link.unavailable:hover > div {
  animation: none;
}

@media (max-width: 800px) {
  .modalMoreInfo {
    height: 100%;
    width: 100%;
  }
  .modalMoreInfo .modalContainer {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;
  }

  .modalMoreInfo .modalContainer .carousel {
    flex-direction: column;
  }

  .modalMoreInfo .modalContainer .carousel .imgBefore > svg,
  .modalMoreInfo .modalContainer .carousel .imgNext > svg {
    transform: rotateZ(90deg);
  }
}
