
.navBar{
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: space-around;
    width: 50%;
}

.navBar ul{
    display: flex;
}

.navBar a{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 7em;
    font-weight: 200;
}

.navBar a:hover{
    letter-spacing: 0.1em;
    color: var(--viridianGreen);
}

.navBar a:active{
    letter-spacing: 0.1em;
    color: var(--viridianGreen);
}

.navBar a::before, 
.navBar a::after{
    border: 1px solid transparent;
    bottom: 0;
    content: "";
    display: block;
    margin: 0.5em auto;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 0%;
}

.navBar a:hover::before, 
.navBar a:hover::after{
    width: 100%;
    border: 1px solid var(--viridianGreen);
}

@media (max-width:800px){
    .navBar{
        background-color: var(--blue);
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        right: 0;
        top: 4rem;
        display: none;
        transition: all 2s linear;
        height: 0;
    }
    
    .navBar.active{
        height: 100vh;    
        display: flex;
    }

    .navBar ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}
