.cardMoreInfo{
    border-radius: var(--radius);
    border: var(--border);
    color:var(--white);
    display: grid;
    grid-template: 1fr 0.4fr / 1fr 0.6fr ;
    height: 100%;
    position: relative;
}

.cardMoreInfo h2{
    border-top: var(--border);
    grid-area: 2/2/3/3;
}

.cardMoreInfo .year{
    font-weight: 400;
}

.cardMoreInfo > div{
    grid-area: 1/1/3/2;
    padding: 3em;
    box-sizing: border-box;
    border-right: var(--border);
}

.cardMoreInfo > div .education,
.cardMoreInfo > div .experience {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    max-width: 80%;
}

.cardMoreInfo > div p{
    font-weight: 200;
    list-style: none;
    margin: 0;
}

.cardMoreInfo aside{
    grid-area: 1/2/2/3;
    padding: 3em;
}

.cardMoreInfo aside div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardMoreInfo aside div .points{
    color: var(--points);
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.cardMoreInfo .btnNext{
    animation: btnNextAnimation 2s infinite ease-in-out;
    bottom: -2.5rem;
    left: -2.5rem;
}

.cardMoreInfo .btnNext:hover{
    box-shadow: inset -3px -3px 1px 1px   rgba(0, 0, 0, 0.151);
    padding-right: 0.5em;
}

@keyframes btnNextAnimation {
    0% { 
        transform: translateX(0px);
        font-size: 2rem;
    } 
    50% {
        transform: translateX(20px);
        font-size: 2.5rem;
    }
    100% {
        transform: translateX(0px);
        font-size: 2rem;
    }
}

