.header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: all 1s linear;
    width: 100vw;
    z-index: 30;
}

.header.neumorphism{
    background-color:var(--blue);
    border-radius:0;
    margin:0;
}

/* .header.neumorphism:hover{
    background-color: white;
    box-shadow: none;
    color: var(--blue);
} */

.header .logo{
    align-items: center;
    border-radius: 50%;
    color: var(--viridianGreen);
    display: flex;
    font-family: var(--rockSalt);
    font-size: 2em;
    height: 50px;
    justify-content: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 10px;
    position: relative;
    text-decoration: none;
    width: 50px;
    z-index: 10;
}

.cat{
    font-size: 1.5rem;
    margin: 5px;
    transform: rotateY(180deg);
}

.dog{
    font-size: 1.6rem;
}

.heart{
    display: flex;
    font-size: 0.4rem;
    justify-content: center;
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header .logo:hover > .heart{
    animation: heartBeating 0.5s infinite;
}


@keyframes heartBeating{
    0%{
        color: #EDE342;
        transform: scale(1) translateY(-1px);
    }
    20%{
        color: #EDE342;
        transform: scale(1.5) translateY(-1.5px);
    }
    40%{
        color: #F2BF6C;
        transform: scale(2) translateY(-2px);
    }
    60%{
        color: #F69A97;
        transform: scale(2.5) translateY(-2.5px);
    }
    80%{
        color: #FB76C1;
        transform: scale(3) translateY(-3px);
    }
    100%{
        color: #FF51EB;
        transform: scale(3.5) translateY(-3.5px);
    }
}

.menuIcon{
    color: white;
    display: none;
    font-size: 2rem;
}

@media(max-width:800px){
    .menuIcon{
        display: flex;
        margin: 0 20px;
    }
}




