.aboutMe {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 4rem;
  width: 100vw;
}

.amMain {
  height: 100%;
  place-items: flex-start;
  margin: 5rem 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.amMain p {
  grid-area: 1/1/2/3;
}

.amMain > div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr 1.5fr;
  max-width: 80%;
  gap: 20px;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
}

aside > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.skills li {
  align-items: center;
  color: var(--blue);
  display: flex;
  list-style: none;
  text-transform: capitalize;
}

.skills ul li span {
  align-self: center;
  display: flex;
  font-size: 1em;
  margin: 0.2em;
}

@keyframes btnNextAnimation {
  0% {
    transform: translatex(20px);
    font-size: 2rem;
  }
  50% {
    transform: translatex(0px);
    font-size: 2.5rem;
  }
  100% {
    transform: translatex(20px);
    font-size: 2rem;
  }
}

.skills ul li:first-child div {
  animation: zoominHtml 3s infinite;
}
.skills ul li:nth-child(2) div {
  animation: zoominCss 3s infinite;
}
.skills ul li:nth-child(3) div {
  animation: zoominTailwind 3s infinite;
}
.skills ul li:nth-child(4) div {
  animation: zoominBootstrap 3s infinite;
}
.skills ul li:nth-child(5) div {
  animation: zoominJavascript 3s infinite;
}
.skills ul li:nth-child(6) div {
  animation: zoominReact 3s infinite;
}

@media (max-width: 800px) {
  .aboutMe {
    height: 100%;
  }

  .amCards {
    height: 100%;
    width: 100%;
  }

  .amMain {
    margin: 0;
  }

  .amMain p {
    grid-area: 1/1/2/2;
  }

  .amMain > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    max-width: 100%;
    margin: 12px;
  }
}
