.contact{
    width: 100vw;
    height: calc(100vh - 8rem);
    position: absolute;
    top: 440vh;
    padding-top: 8rem;
    
}

h4{
    font-weight: 300;
}

.contact .contactMain{
    margin: 5rem auto auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contact .sentEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .sentEmail > p {
    text-align: justify;
} 
.contact .sentEmail > button  {
    padding: 1em 2em
} 

.contact .personalInfo{
    display: grid;
    margin: 3em 0;
}

.contact .personalInfo > div{
    display: flex;
    align-items: center;
    margin: 0.6em 0;
    height: 2rem;
}

.contact .personalInfo h3{
    width: 8rem;
    text-transform: capitalize;
}

.contact .personalInfo a{
    text-decoration: none;
    text-align: center;
    margin: 3em 0 0;
    color: black;
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.contact .personalInfo .btnSocial{
    margin: auto 10px auto 0;
    height: auto;
    cursor: unset;
}

.socialMediaName{
    display: flex;
    align-items: center;
    transition: transform 1s linear;
    justify-content: space-evenly;
    width: 7rem;
    font-size: 0.8rem;
}

.socialMediaRoot{
    transition: transform 0.4s linear;
    transition-delay: 1s;
    z-index: -1;
    /* display: none; */
    position: absolute;
    font-size: 0.7rem;
    transform: rotateX(270deg);
}

.contact .personalInfo a:hover > span{
    color: white;
}

.contact .personalInfo .github:hover{
    background-color: #333;
    color: white;
    transition: all 0.6s linear;
}

.contact .personalInfo .btnSocial:hover > .socialMediaName {
    transform: rotateX(270deg);
}

.contact .personalInfo .btnSocial:hover > .socialMediaRoot {
    transform: rotateX(360deg);
    z-index: 1;
}

.contact .personalInfo .github:hover{
    background-color: #333;
    color: white;
}
.contact .personalInfo .linkedin:hover{
    background-color: #0077B5;
    color: white;
}
.contact .personalInfo .discord:hover{
    background-color: #7289DA;
    color: white;
}


.contact .personalInfo .download span{
    /* display: none; */
    align-self: center;
    margin: 1em;
    color: transparent;
    width: 15px;
}