.home{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    padding-top: 4rem;
    width: 100vw;
}

.home img{
    border-radius: 10%;
    filter: grayscale();
    position: relative;
    width: 400px;
}

.home .imgWrapper{
    background: var(--blue);
    border-radius: 44% 56% 45% 55% / 62% 77% 23% 38%;
    padding: 50px;
    position: relative;
}

.home .imgWrapper::before{
    /* border-radius:72% 28% 68% 32% / 68% 27% 73% 32%  ; */
    background: var(--viridianGreen);
    border-radius:56% 44% 68% 32% / 68% 68% 32% 32%  ;
    content: "";
    height: 500px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    z-index: -10;
}

.home h1{
    font-size: 50px;
    text-shadow: 1px 1px 1px var(--blue);
}

.home h1 span{
    color: var(--viridianGreen);
}

@media (max-width:800px){
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .home .imgWrapper{
        padding: 20px;
    }
    .home img{
        width: 250px;
    }

    .home .imgWrapper::before{
        height: 300px;
        width: 300px;
    }

    .home h1{
        font-size: 30px;
    }
}
