.home{
    align-items: center;
    display: flex;
    height: 100vh;
    padding-top: 4rem;
    justify-content: space-around;
    width: 100vw;
    box-sizing: border-box;
}

.home img{
    width: 550px;
    position: relative;
    filter: grayscale();
}

.imgWrapper{
    border-radius: 44% 56% 45% 55% / 62% 77% 23% 38%;
    background: var(--blue);
    position: relative;
    padding: 20px;
}

.home .imgWrapper::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 560px;
    height: 560px;
    border-radius:56% 44% 68% 32% / 68% 68% 32% 32%  ;
    /* border-radius:72% 28% 68% 32% / 68% 27% 73% 32%  ; */
    background: var(--viridianGreen);
    z-index: -10;
    transform: translateY(-50%);
}

.home h1{
    font-size: 50px;
    text-shadow: 1px 1px 1px var(--blue);
}

.home h1 span{
    color: var(--viridianGreen);
}

@media (max-width:800px){
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .home img{
        width: 300px;
    }

    .home .imgWrapper::before{
        width: 300px;
        height: 300px;
    }

    .home h1{
        font-size: 30px;
    }
}