.projects {
  box-sizing: border-box;
  height: 100%;
  padding-top: 4rem;
  width: 100vw;
}

.projects .projectsMain {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  position: relative;
}

.projects .projectsMain > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.projects .btnsProjects {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  position: relative;
  width: 80%;
}

.projects .btnProjects {
  color: rgb(61, 84, 103);
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 8em;
}

.projects .projectsGrid {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(auto-fit, 230px);
  justify-content: center;
  padding: 80px 0px;
}

.projects .projectsGrid .cardProject:nth-child(3),
.projects .projectsGrid .cardProject:nth-child(12),
.projects .projectsGrid .cardProject:nth-child(9) {
  grid-area: span 3;
}

.projects .projectsGrid .cardProject:nth-child(3) > img,
.projects .projectsGrid .cardProject:nth-child(9) > img,
.projects .projectsGrid .cardProject:nth-child(12) > img {
  height: 100%;
}

.projects .projectsGrid .cardProject:nth-child(13) {
  grid-area: 2/1 / span 2 / span 2;
}

.projects .projectsGrid .cardProject:last-child {
  grid-area: 8/2 / span 2 / span 2;
}

@media (max-width: 800px) {
  .projects .projectsGrid {
    grid-template-columns: 1fr;
  }

  .projects .projectsGrid .cardProject:nth-child(13),
  .projects .projectsGrid .cardProject:last-child {
    grid-area: auto;
  }
}
