:root{
  --white: #000;
  --richBack: rgb(0, 18, 25);
  --blueSapphire: rgb(201, 218, 234);
  --points:rgba(241, 237, 238,0.5);
  --viridianGreen: rgb(220, 237, 49);
  --viridianGreenT: rgb(201, 218, 234);
  --middleBlueGreen: rgb(148, 210, 189);
  --mediumChampagne: rgb(233, 216, 166);
  --mediumChampagneT: rgb(233, 216, 166,0.6);
  --h2Color: rgb(220, 237, 49);
  --blue:rgb(61, 84, 103);
  /* --points:rgb(237, 125, 58); */
  --alloyOrange: rgb(202, 103, 2);
  --rust: rgb(187, 62, 3);
  --rufous: rgb(174, 32, 18);
  --rubyRed:rgb(155, 34, 38);
  --comforter: 'Comforter', cursive;
  --poppins: 'Poppins', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --rockSalt: 'Rock Salt', cursive;
  --border: 2px solid rgb(201, 218, 234);
  --radius: 1px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  /* background: rgba(61, 84, 103) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: var(--blue);
}

.neumorphism{
  border-radius: 3px;
  transition: all 0.5s linear;
  margin: 10px;
  box-shadow: 5px 5px 8px rgba(163, 177, 198, 0.6),
              -5px -5px 8px rgba(255, 255, 255,0.5);
  padding: 10px;
  border: none;
  background-color:white ;
  color:var(--blue);
}

.neumorphism:hover{
  background-color: var(--h2Color);
  box-shadow: inset 5px 5px 8px rgba(163, 177, 198, 0.4),
  -5px -5px 8px rgba(255, 255, 255,0.5);
}

